@import url('./sidebar.css');
@import url('./header.css');
.container {
    width: 100%;
    display: flex;    

    section {
        width: 80%;
        text-align: center;
        .heading {
            padding: 12px;
            h1 {
                display: inline-block;
            }        
            
            .add-btn {
                display: inline-block;
                padding: 10px 20px;
                background-color: rgb(27, 172, 87);
                color: white;
                text-decoration: none;
                border-radius: 7px;
                margin-left: 12px;
            }
        }


        table {
            width: 60%;
            border-radius: 12px;
            border-collapse: collapse;
            margin: 12px auto;    
            overflow: hidden;
            background-color: #f0f0f0;
            
            th {
                padding: 12px;
                border: 2px solid white;
            }
        
            td {
                border: 2px solid white;

                a {
                    display: inline-block;
                    text-decoration: none;
                    color: white;
                    padding: 10px 20px;
                    border-radius: 7px;
                    margin: 10px;
                    background-color: #2384ca;
                    
                    &:last-of-type {
                        background-color: #ca2331;
                    }
                }

                &:last-of-type {
                    width: 340px;
                }
            }
        }
    }
}
